<%= render 'topbar' %>
<div class="row">
  <%= @user.name %> &gt; <%= @group.name %> &gt; <%= @topic.name %> &gt; <%= @sub_topic.name %>

  <h1>Links</h1>
  <% @sub_topic.links.where(user: @user).each do |link| %>
    <%= link.name %><br/>
  <% end %>
</div>
