<div class="contain-to-grid fixed">
  <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: true">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Edu Links</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="left">
        <% SchoolType.select{|school_type| !school_type.links.empty? }.each do |school_type| %>
            <li class="has-dropdown">
              <a href="#"><%= school_type.name %></a>
              <ul class="dropdown">
                <% school_type.groups.select{|group| !group.links.empty? }.sort.each do |group| %>
                  <li class="has-dropdown">
                    <a href="#"><%= group.name %></a>
                    <ul class="dropdown">
                      <% group.topics.uniq.each do |topic| %>
                        <li class="has-dropdown">
                          <a href="#"><%= topic.name %></a>
                          <ul class="dropdown">
                            <% group.sub_topics.select{|sub_topic| sub_topic.topic == topic}.each do |sub_topic| %>
                              <li>
                                <a href="<%= "/#{school_type.slug}/#{group.slug}/#{topic.slug}/#{sub_topic.slug}" %>">
                                  <%= sub_topic.name %> (<%= sub_topic.links.count %>)
                                </a>
                              </li>
                            <% end %>
                          </ul>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </li>
        <% end %>
      </ul>
      <li>
    </section>
  </nav>
</div>
