<%= render 'topbar' %>
<div class="row">
  <ul class="breadcrumbs">
    <li><%= @group.name %></li>
    <li><%= @group.name %></li>
    <li class="current"><%= @sub_topic.name %></li>
  </ul>
</div>
<div class="row">
  <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
    <% @sub_topic.links.each do |link| %>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
      <li>
        <%= display_link link %>
      </li>
    <% end %>
  </ul>
</div>
